.auth-container {
	width: 500px;
    margin: auto;
    padding: 40px;
	display: flex;
	flex-direction: column;
	row-gap: 30px;
	
}

.auth-container > .welcome {
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 30px;
}

.auth-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.auth-wrapper > .title {
    font-size: 20px;
    padding: 0px 5px;
    font-weight: 700;
}

.auth-wrapper > .selector {
	display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.auth-wrapper > .selector > div {
    border: 1px solid var(--light-gray);
    border-radius: 5px;
}

.auth-wrapper .input {
    display: flex;
    align-items: center;
}

.auth-wrapper .input > input {
    height: 35px;
    border: unset;
    width: 100%;
    font-size: 15px;
    padding-left: 10px;
}

.auth-wrapper .input > .material-symbols-outlined {
	font-size: 15px;
    margin: 0 10px;
    color: gray;
}


.auth-wrapper .results {
    min-height: 200px;
    border: 1px solid var(--light-gray);
}

.auth-wrapper .results.scroll {
    max-height: calc(5 * 56px);
    overflow-y: auto;

}

.auth-wrapper .results::-webkit-scrollbar {
    width: 15px; /* Width of the scrollbar */
}

.auth-wrapper .results::-webkit-scrollbar-track {
    background: transparent; 
    
}

.auth-wrapper .results::-webkit-scrollbar-thumb {
    background: var(--light-gray);
    border-radius: 15px; 
}

.auth-wrapper .results::-webkit-scrollbar-thumb:hover {
    background: var(--primary-yellow); /* Color on hover */
    cursor: pointer;
}

.auth-wrapper .results > .result {
    border-bottom: 1px solid var(--light-gray);
    display: flex;
    align-items: center;
    column-gap: 20px;
    font-weight: 600;
    font-size: 14px;
    background-color: white;
    padding: 5px;
    cursor: pointer;
    height: 60px;
}

.auth-wrapper .results > .result:hover, .auth-wrapper .results > .result.active{
    background-color: #6882bb;
	color: white;
}

.auth-wrapper .results > .result > .logo {
	background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.auth-wrapper .results > .result > .logo img {
	width: 30px;
	padding: 3px;
}

.auth-container .buttons {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	column-gap: 10px;
	row-gap: 10px;
}

.auth-container .buttons > input[type='submit'] {
	text-align: center;
	border: 1px solid var(--light-gray);
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    height: 40px;
    display: grid;
    align-items: center;
	font-weight: 700;
}

.auth-container .buttons > .inactive {
	background-color: var(--light-gray);
	pointer-events: none;
	color: #bdbdbd;
	font-weight: unset;
}

.auth-container .buttons > input[type='submit']:not(.inactive):hover {
	background-color: var(--primary-yellow) !important;
	color: white !important;
}