{% load static %}

<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/nucleus-logo.png' %}" />

<link href="http://fonts.cdnfonts.com/css/avenir-lt-std" rel="preload" as="style" onload="this.rel='stylesheet'">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">

<script>
	// static url variable
	const STATIC_URL = "{% static '' %}";
</script>