{% load static %}

<div class="navbar">
    <a href="/" class="logo">
        <img src="{% static 'images/nucleus-logo.png' %}" alt="">
        <div><span>Nucle</span><span>US</span></div>
    </a>
    <div class="links">
        {% if mail %}
			{% if step == 'loggedin' %}
                <a href="/">Home</a>
                <a href="/standings">Classificações</a>
                <a href="/help">Ajuda</a>
                <div class="user">
                    {% if student_nucleo %}
                    <div class="profile">
                        <span>{{ student_nucleo }}</span>
                    </div>
                    {% else %}
                    <div class="points">
                        <img src="{% static 'images/nucleus-logo.png' %}" alt="">
                        <span>{{ points }}</span>
                    </div>
                    <div class="profile">
                        <span>{{ username }}</span>
                    </div>
                    <span>{{nucleo}}</span>
                    {% endif %}
                </div>
            {% endif %}
        {% else %}
            <a href="/login">Entrar</a>
        {% endif %}
    </div>
</div>
