<div class="user_events">
    <div class="event-card">
        <div class="event-details">
            <div class="new-event">
                <div class="content">
                    <span>+</span>
                </div>
            </div>
            {% for event in events %}
            <div class="event">
                <div>
                    <div class="name">{{ event.name }}</div>
                    <div class="description">{{ event.description }}</div>
                </div>
                <div class="info">
                    <div><b>Localização:</b> {{ event.location }}</div>
                    <div><b>Data:</b> {{ event.date }}</div>
                </div>
                <div class="cost">
                    <div><b>Custo:</b> {{ event.price }}€</div>
                    <div><b>Pontos:</b> {{ event.points }}</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div id="forms" style="display: none;"> 
        <div class="title">
            <div class="yellow"></div>
            <h1>Criar um Evento</h1>
        </div>
        <form class="form" action="/api/v1/events/" method="POST">
            <input type="text" id="title" name="title" placeholder="Título" required>

            <select id="type" name="type" placeholder="Tipo de Evento" required>
                <option value="">Selecione o tipo de evento</option>
                <option value="1">Palestra</option>
                <option value="2">Workshop</option>
                <option value="3">Convivio</option>
                <option value="4">Taça UA</option>
            </select>

            <input type="text" id="location" name="location" placeholder="Localização">

            <input type="text" id="description" name="description" placeholder="Descrição"></input>

            <input type="date" id="date" name="date" placeholder="Data" required>

            <input type="text" id="price" name="price" placeholder="€">

            <input type="text" id="points" name="points" placeholder="Pontos">

            <div class="buttons">
                <button type="submit" class="btn primary">Criar</button>
                <button type="button" class="btn secondary" onclick="closeForm();">Cancelar</button>  
            </div>
        </form>
    </div>
    <!-- here for testing ONLY -->
    <script>
        document.addEventListener('click', e => {
            if (e.target.closest(".new-event")) {
                document.getElementById("forms").style.removeProperty("display");
            }
        });

        function closeForm() {
            document.getElementById("forms").style.display = "none";
        }
    </script>
</div>
