<div class="sidebar">
	<div class="filter">
		<div>Filtro</div>
		<input type="text" placeholder="Pesquisar por Núcleo">
		<select>
			<option disabled selected>Tipo de Evento</option>
			<option value="tipo1">Palestra</option>
			<option value="tipo2">Workshop</option>
			<option value="tipo3">Taça UA</option>
			<option value="tipo4">Convívio</option>
		</select>
		<div class="date-input">
			<label for="start-date">Data de início</label>
			<input type="date" id="start-date" name="start-date" value="2024-01-20">
		</div>

	</div>
</div>