{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>

	{% include 'components/head.html' %}
	
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
	
	<script src="{% static 'js/login.js' %}"></script>
</head>
<body>
	{% include 'components/navbar.html' %}

	<div>
		<form class="auth-container" method="post" action=".">
			<div id="nucleo-signin" class="auth-wrapper">
				<div class="title">Entrar como Núcleo</div>
				<div class="input">
					<span class="material-symbols-outlined">
						email
					</span>
					<input type="email" name="email" placeholder="Email">
				</div>
				<div class="input">
					<span class="material-symbols-outlined">
						lock
					</span>
					<input type="password" name="password" placeholder="Senha">
				</div>
			</div>
			<div class="auth-wrapper">
				<div class="title">Instituição de Ensino</div>
				<div class="selector">
					<div class="input">
						<span class="material-symbols-outlined">
							search
							</span>
						<input type="text" placeholder="Nome da Instituição" oninput="search(this.value)">
					</div>
					<div class="results">
					</div>
				</div>
			</div>
			<div class="buttons">
				<input type="submit" class="inactive" value="Sign up">
				<input type="submit" class="idp inactive" value="ID Provider">
			</div>
		</form>
	</div>
</body>
</html>